* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: uppercase;
}

body {
    width: 100%;
    max-width: 100vw;
}

main {
    position: relative;
}

img {
    width: 100%;
    margin-bottom: 0.5rem;
    transition: all 0.1s;
}

ul {
    list-style: none;
    display: flex;
    align-items: center;
}

h1 {
    padding: 1rem;
}

/* || HEADER */
header {
    display: flex;
    align-items: center;
    padding: 0.5rem;
    justify-content: space-between;
    border-bottom: 1px solid black;
    width: 100%;
    max-width: 100vw;

    nav {
        gap: 2rem;
    }
}

nav {
    display: inline-flex;
    align-items: center;
}

.nav-links {
    display: none;
}

@media screen and (min-width: 1200px) {
    .nav-links {
        display: flex;
        gap: 1em;
    }
}

.link-column {
    display: inline-flex;
    flex-direction: column;
}

li:has(.button-tickets) {
    margin: .5em;
}

li:has(.button-members),
li:has(.button-venues),
li:has(.button-language) {
    display: none;
}

@media screen and (min-width: 800px) {
    li:has(.button-members),
    li:has(.button-venues),
    li:has(.button-language) {
        display: flex;
    }
}

@media screen and (min-width: 500px) {
    .nav-buttons li .button-tickets {
        display: inline-flex;
    }
}

button {
    display: inline-flex;
    align-items: center;
    min-height: 2rem;
    align-items: center;
    vertical-align: baseline;

    svg {
        height: 1.5rem;
    }
}

.menu-text {
    display: none;
}

@media screen and (min-width: 375px) {
    .menu-text {
        display: inline;
    }
}

/* || GALLERY */
.gallery {
    display: block;
    column-width: clamp(10rem, 20rem, 15vw);
    gap: 0.75rem;
}

/* || FILTERS & SEARCH BAR */
.gallery-navigation {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    gap: 1rem;
    font-weight: var(--font-weight-normal);
}

.filter-list {
    padding: 0 1rem;
    max-width: 100vw;
    justify-content: left;
    gap: 1rem;

    /* Hide scrollbar */
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;

    li {
        min-height: 2rem;
    }
}

.filter {
    min-width: 9rem;
    background-color: var(--accent-color-grey);
    color: white;
    border: 1px solid var(--accent-color-grey);

    &:hover,
    &:focus {
        background-color: white;
        color: var(--accent-color-grey);
        outline: none;
        text-decoration: unset;
    }
}

.search-form {
    background-color: white;
    border: 1px solid black;

    display: flex;
    flex-direction: row;
    align-items: center;

    width: 50rem;
    max-width: 100%;

    input[type=search] {
        padding: .5rem;
        font-size: clamp(1rem, 2.5vw, 2rem);
        width: 100%;
        max-width: 100%;
        border: none;
        border-bottom: 1px solid black;
        margin: 0.5rem 0 7px 0.5rem;
    }

    input[type=search]:focus {
        border: none;
        outline: 1px solid black;
        border-bottom: 1px solid white;
    }

    button {
        background-color: white;
        border: none;
        padding: 0.5rem;
    }
}

.dim {
    filter: brightness(60%);
}

/* https://www.a11yproject.com/posts/how-to-hide-content/ */
.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
    top: 0;
}

.visually-hidden:focus {
    clip: auto;
    clip-path: unset;
    height: auto;
    overflow: auto;
    position: absolute;
    width: auto;
    background-color: white;
}

.form {
    width: min(90vw, 1000px);
    padding: 1rem;
}

label {
    display: grid;
    cursor: inherit;
    margin: 1rem 0;
    position: relative;
}

label:has(input:not([type=radio])),
label:has(select) {
    margin: 3rem 0;
}

.centered-inline-container {
    /* Positioning */
    display: inline-flex;
    align-items: center;

    /* Cursor */
    cursor: pointer;
}

.centered-block-container {
    /* Positioning */
    display: flex;
    align-items: center;
    
    /* Cursor */
    cursor: pointer;
}

.form-main {
    display: grid;
}

input[type=radio] {
    appearance: none;
    height: 1.25em;
    width: 1.25em;
    margin: 0 .5em 0 0;
    background-color: white;
    border: 1px solid black;
    border-radius: 1.25em;
}

input[type=radio]:checked {
    background-color: black;
}

input[type=text],
input[type=email],
input[type=tel],
option,
select {
    font-size: 1.2rem;
    padding: 0.5em;
    text-transform: none;
    font-family: var(--primary-font);
    color: var(--accent-color-grey);
    
    appearance: none;
    border: 1px solid black;
    width: 20rem;
}

input[type=date],
input[type=time] {
    font-size: 1.2rem;
    padding: 0.5em;
    width: 10em;
}

label:has(input:invalid) input,
label:has(input:invalid) span{
    border-color: red;
    color: red;
}

label span {
    position: absolute;
    z-index: 1;
    background-color: white;
    top: -1em;
    left: 1em;
    padding: 0.2em;
}

/* label:has(input[type=date]),
label:has(input[type=time]) {
    margin-top: 2rem;
} */

fieldset {
    appearance: none;
    border: none;
    margin: 1rem 0;
}

label:has(input[type=text]):nth-of-type(1) {
    margin-top: 3rem;
}
