:root {
    --dark-grey: #464646;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: uppercase;
}

*:lang(ar) {
    font-family: "Cairo", sans-serif;
    font-weight: 800;
    text-align: right;
}

body {
    font-size: 1rem;
    letter-spacing: -1px;
    font-family: "IBM Plex Sans", sans-serif;

    width: 100%;
    max-width: 100vw;
}

main {
    position: relative;
}

img {
    width: 100%;
    margin-bottom: .5rem;
    transition: all 0.1s;
}

ul {
    list-style: none;
    display: flex;
    align-items: center;
}

a {
    text-decoration: none;
    color: black;

    &:hover {
        text-decoration: underline;
    }
}

/* || HEADER */
header {
    display: flex;
    align-items: center;
    padding: .5rem;
    justify-content: space-between;
    border-bottom: 1px solid black;
    width: 100%;
    max-width: 100vw;

    nav {
        gap: 2rem;
    }
}

nav {
    display: inline-flex;
    align-items: center;
    font-weight: 800;

    ul {
        gap: 1rem;
    }
}

.nav-links {
    display: none;
}

@media screen and (min-width: 1200px) {
    .nav-links {
        display: flex;
    }
}

.links {
    display: inline-flex;
    flex-direction: column;
}

li:has(.button-members),
li:has(.button-venues),
li:has(.button-language) {
    display: none;
}

@media screen and (min-width: 800px) {

    li:has(.button-members),
    li:has(.button-venues),
    li:has(.button-language) {
        display: flex;
    }
}

.nav-buttons li button {
    background-color: white;
    border: none;
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 800;
    font-size: 1rem;
    letter-spacing: -1px;

    &:hover {
        text-decoration: underline;
        cursor: pointer;
    }
}

.nav-buttons li .button-tickets {
    display: none;
    background-color: yellow;
    border: 1px solid black;
    padding: 1rem;
    transition: all .2s;

    &:hover,
    &:focus {
        text-decoration: unset;
        background-color: black;
        color: white;
    }
}

@media screen and (min-width: 500px) {
    .nav-buttons li .button-tickets {
        display: inline-flex;
    }
}

button {
    display: inline-flex;
    align-items: center;
    min-height: 2rem;
    align-items: center;
    vertical-align: baseline;

    svg {
        height: 1.5rem;
    }
}

.menu-text {
    display: none;
}

@media screen and (min-width: 375px) {
    .menu-text {
        display: inline;
    }
}

/* || GALLERY */
.gallery {
    display: block;
    column-width: clamp(10rem, 20rem, 15vw);
    gap: .75rem;
}

/* || FILTERS & SEARCH BAR */
.gallery-navigation {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    gap: 1rem;
}

.filter-list {
    padding: 0 1rem;
    max-width: 100vw;
    overflow: scroll;
        -ms-overflow-style: none;
        /* IE and Edge */
        scrollbar-width: none;
        /* Firefox */
        justify-content: left;

    li {
        min-height: 2rem;
    }
}

.filter {
    display: block;
    height: 100%;
    min-width: 9rem;
    background-color: var(--dark-grey);
    color: white;
    border: 1px solid var(--dark-grey);
    padding: 1rem;
    text-align: center;
    font-weight: 400;

    &:hover,
    &:focus {
        background-color: white;
        color: var(--dark-grey);
        outline: none;
        text-decoration: unset;
    }
}

form {
    background-color: white;
    border: 1px solid black;

    display: flex;
    flex-direction: row;
    align-items: center;

    width: 50rem;
    max-width: 100%;

    input[type=search] {
        padding: .5rem;
        font-size: clamp(1rem, 2.5vw, 2rem);
        width: 100%;
        max-width: 100%;
        border: none;
        border-bottom: 1px solid black;
        margin: .5rem 0 7px .5rem;
    }

    input[type=search]:focus {
        border: none;
        outline: 1px solid black;
        border-bottom: 1px solid white;
    }

    button {
        background-color: white;
        border: none;
        padding: .5rem;
    }
}

.dim {
    filter: brightness(60%);
}

/* https://www.a11yproject.com/posts/how-to-hide-content/ */
.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
    top: 0;
}

.visually-hidden:focus {
    clip: auto;
    clip-path: unset;
    height: auto;
    overflow: auto;
    position: absolute;
    width: auto;
    background-color: white;
}